.all {
    -webkit-box-shadow: 5px 5px 9px 1px #000000;
box-shadow: 5px 5px 9px 1px #000000;
    background-color: #FBFBFB;

      padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.question-answers {
          padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 25px;

}

.btnpad {
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.lgntit {
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 25px;
}


.boxmd {
 -webkit-border-radius: 50px 50px 50px 50px;
border-radius: 25px 25px 25px 25px;
background: #606c88; /* Old browsers */
background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0);

  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.button {
  background-color: #BBBBBB;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {opacity: 1}

.btntxt {
  font-size: 20px;
  color: black;
}

p {

}



div.qbox{
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
    text-align: center;
		margin-bottom: 20px;
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 5px;
               -webkit-border-radius: 5px;
               -moz-border-radius: 10px;
	}
	div.qbox {
		box-shadow: inset 0 -1px rgba(0,0,0,0.25),
			inset 0 1px rgba(0,0,0,0.25);
	}

	div.qbox {
		color: #f7f7f7;
		padding: 0.7em 1em 0.7em 1.15em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.4em;
	}
	div.qbox {
		-webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
	}
div.qbox {
		background: #336ca6;
	}
	div.qbox:hover {
		background: rgba(0,0,0,0.19);
        cursor: pointer;
	}



.hide-group {
  display: none;
}


.headers {
    padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
font-family: Arial, Helvetica, sans-serif;
font-size: 37px;
letter-spacing: 0.6px;
word-spacing: 0px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;

}

#question {

}
